In [1]:
import pandas as pd
import numpy as np

In [4]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])

data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)

data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [11]:
data =  {
    "Name":np.array(["Ahmad","Mourad","Fade"]),
    "Age":[33,43,25]
}

df = pd.DataFrame(data)

# Add Column
df['Salary'] = [2000,1500,2330]



# Delete Column
del df['Age'] # you can also use df.pop("Age")

     Name  Salary
0   Ahmad    2000
1  Mourad    1500
2    Fade    2330

In [23]:
print()

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

print(df.loc['a'])  # get the row with the index label 'a'
print(df.iloc[0]) # get the row with the index 0

print(df[:2])

one    1.0
two    1.0
Name: a, dtype: float64
one    1.0
two    1.0
Name: a, dtype: float64
   one  two
a  1.0    1
b  2.0    2

In [28]:
# Addition
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2,ignore_index=True)
 
#Deletetion
df = df.drop(0)
df

   a  b
1  3  4
2  5  6
3  7  8